PROMOZIONI = {
    "Halloween":    {
        "nome":                 "Halloween",
        "periodo_inizio":       "20231030",
        "periodo_fine":         "20231105",
        "COSTO_PREMIUM":        150,
        "COSTO_MANTENIMENTO":   25

    },
    "Natale": {
        "nome":                 "Natale",
        "periodo_inizio":       "20231224",
        "periodo_fine":         "20240108",
        "COSTO_PREMIUM":        100,
        "COSTO_MANTENIMENTO":   25
    },
    "SanValentino": {
        "nome":                 "SanValentino",
        "periodo_inizio":       "20240214",
        "periodo_fine":         "20240214",
        "COSTO_PREMIUM":        125,
        "COSTO_MANTENIMENTO":   25
    },
        "Pasqua": {
        "nome":                 "Pasqua",
        "periodo_inizio":       "20240331",
        "periodo_fine":         "20240331",
        "COSTO_PREMIUM":        125,
        "COSTO_MANTENIMENTO":   25
    },
        "Carnevale": {
        "nome":                 "Carnevale",
        "periodo_inizio":       "20240208",
        "periodo_fine":         "20240213",
        "COSTO_PREMIUM":        100,
        "COSTO_MANTENIMENTO":   25
    },
}

CANALE_LOG          =    '-100xxxxxxxxx'
TEST                =    1

TEST_TOKEN      = 'YOUR_TEST_TOKEN'
SerieTv_TOKEN     = 'YOUR_REAL_TOKEN'

TEST_GRUPPO     = -100xxxxxxxxx
Tecnologia_GRUPPO    = -100xxxxxxxxx

if TEST:
    BOT_TOKEN       = TEST_TOKEN
    Tecnologia_GRUPPO    = TEST_GRUPPO
else:
    BOT_TOKEN       = SerieTv_TOKEN
    Tecnologia_GRUPPO    = Tecnologia_GRUPPO

PointsName = 'Fagioli Zen 🫘'

PREMIUM_CHANNELS = {
    'Channel1'            :    '-100xxxxxxxxx',
    'Channel2'            :    '-100xxxxxxxxx',
}

REQUIRED_CHANNEL_ID = '-100xxxxxxxxx'
REQUIRED_CHANNEL_LINK = 'https://t.me/your_channel'

ALBUM = {
    'Album1'    :    '-100xxxxxxxxx',
    'Album2'    :    '-100xxxxxxxxx',
}

MISCELLANIA = {
    'Misc1'     :    '-100xxxxxxxxx',
    'Misc2'     :    '-100xxxxxxxxx'
}


from telebot import TeleBot
from telebot import types
bot = TeleBot(BOT_TOKEN, threaded=False)
hideBoard = types.ReplyKeyboardRemove()
